body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1320px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:70px;
  top:220px;
  width:430px;
  height:880px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:880px;
}
#u1 {
  position:absolute;
  left:2px;
  top:432px;
  width:426px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:95px;
  top:325px;
  width:380px;
  height:670px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:670px;
}
#u3 {
  position:absolute;
  left:2px;
  top:327px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:96px;
  top:325px;
  width:379px;
  height:64px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:64px;
}
#u5 {
  position:absolute;
  left:2px;
  top:24px;
  width:375px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:279px;
  top:420px;
  width:125px;
  height:125px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:125px;
}
#u7 {
  position:absolute;
  left:2px;
  top:54px;
  width:121px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:171px;
  top:584px;
  width:125px;
  height:125px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:125px;
}
#u9 {
  position:absolute;
  left:2px;
  top:54px;
  width:121px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:108px;
  top:584px;
  width:41px;
  height:41px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:41px;
}
#u11 {
  position:absolute;
  left:2px;
  top:12px;
  width:37px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:421px;
  top:420px;
  width:41px;
  height:41px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:41px;
}
#u13 {
  position:absolute;
  left:2px;
  top:12px;
  width:37px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:95px;
  top:726px;
  width:380px;
  height:270px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:270px;
}
#u15 {
  position:absolute;
  left:2px;
  top:127px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:640px;
  top:220px;
  width:430px;
  height:880px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:880px;
}
#u17 {
  position:absolute;
  left:2px;
  top:432px;
  width:426px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:665px;
  top:325px;
  width:380px;
  height:670px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:670px;
}
#u19 {
  position:absolute;
  left:2px;
  top:327px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:666px;
  top:325px;
  width:379px;
  height:64px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:64px;
}
#u21 {
  position:absolute;
  left:2px;
  top:24px;
  width:375px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:849px;
  top:420px;
  width:125px;
  height:125px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:125px;
}
#u23 {
  position:absolute;
  left:2px;
  top:54px;
  width:121px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:741px;
  top:584px;
  width:125px;
  height:125px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:125px;
}
#u25 {
  position:absolute;
  left:2px;
  top:54px;
  width:121px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:678px;
  top:584px;
  width:41px;
  height:41px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:41px;
}
#u27 {
  position:absolute;
  left:2px;
  top:12px;
  width:37px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:991px;
  top:420px;
  width:41px;
  height:41px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:41px;
}
#u29 {
  position:absolute;
  left:2px;
  top:12px;
  width:37px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:665px;
  top:726px;
  width:380px;
  height:270px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:270px;
}
#u31 {
  position:absolute;
  left:2px;
  top:127px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:902px;
  top:650px;
  width:130px;
  height:130px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:130px;
}
#u33 {
  position:absolute;
  left:2px;
  top:57px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:917px;
  top:665px;
  width:100px;
  height:100px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u35 {
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:902px;
  top:779px;
  width:130px;
  height:21px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:21px;
}
#u37 {
  position:absolute;
  left:2px;
  top:2px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:1120px;
  top:584px;
  width:200px;
  height:100px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:100px;
}
#u39 {
  position:absolute;
  left:2px;
  top:42px;
  width:196px;
  word-wrap:break-word;
}
