body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:680px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:250px;
  top:20px;
  width:430px;
  height:880px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:880px;
}
#u1 {
  position:absolute;
  left:2px;
  top:432px;
  width:426px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:275px;
  top:124px;
  width:380px;
  height:672px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:672px;
}
#u3 {
  position:absolute;
  left:2px;
  top:328px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:275px;
  top:124px;
  width:380px;
  height:70px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:70px;
}
#u5 {
  position:absolute;
  left:2px;
  top:27px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:339px;
  top:152px;
  width:253px;
  height:40px;
  font-family:'AppleGothic', 'AppleGothic';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:40px;
}
#u7 {
  position:absolute;
  left:2px;
  top:8px;
  width:249px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:619px;
  top:154px;
  width:35px;
  height:30px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:30px;
}
#u9 {
  position:absolute;
  left:2px;
  top:7px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:275px;
  top:193px;
  width:380px;
  height:130px;
  font-size:20px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:130px;
}
#u11 {
  position:absolute;
  left:2px;
  top:54px;
  width:376px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:277px;
  top:337px;
  width:376px;
  height:108px;
  font-size:20px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:108px;
}
#u13 {
  position:absolute;
  left:2px;
  top:46px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:292px;
  top:350px;
  width:73px;
  height:17px;
  font-family:'', 'Gadugi Normal', 'Gadugi';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#1B1B1B;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:17px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:292px;
  top:375px;
  width:345px;
  height:26px;
  color:#868686;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  height:26px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:277px;
  top:490px;
  width:376px;
  height:300px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:300px;
}
#u19 {
  position:absolute;
  left:2px;
  top:142px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:292px;
  top:464px;
  width:40px;
  height:13px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:13px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u22 {
  position:absolute;
  left:287px;
  top:506px;
  width:357px;
  height:84px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:357px;
  height:84px;
}
#u23 {
  position:absolute;
  left:2px;
  top:34px;
  width:353px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:297px;
  top:508px;
  width:80px;
  height:80px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u25 {
  position:absolute;
  left:2px;
  top:32px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:391px;
  top:520px;
  width:61px;
  height:24px;
  font-family:'AppleGothic', 'AppleGothic';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:24px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u28 {
  position:absolute;
  left:391px;
  top:553px;
  width:73px;
  height:15px;
  font-family:'AppleGothic', 'AppleGothic';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:15px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u30 {
  position:absolute;
  left:573px;
  top:518px;
  width:10px;
  height:55px;
}
#u30_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u30_end {
  position:absolute;
  left:-5px;
  top:38px;
  width:20px;
  height:18px;
}
#u30_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:55px;
}
#u31 {
  position:absolute;
  left:599px;
  top:524px;
  width:24px;
  height:24px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u32 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:597px;
  top:553px;
  width:29px;
  height:17px;
  font-size:14px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:17px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u35 {
  position:absolute;
  left:287px;
  top:596px;
  width:357px;
  height:84px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:357px;
  height:84px;
}
#u36 {
  position:absolute;
  left:2px;
  top:34px;
  width:353px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:297px;
  top:598px;
  width:80px;
  height:80px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u38 {
  position:absolute;
  left:2px;
  top:32px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:391px;
  top:610px;
  width:61px;
  height:24px;
  font-family:'AppleGothic', 'AppleGothic';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:24px;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u41 {
  position:absolute;
  left:391px;
  top:643px;
  width:73px;
  height:15px;
  font-family:'AppleGothic', 'AppleGothic';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:15px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u43 {
  position:absolute;
  left:573px;
  top:608px;
  width:10px;
  height:55px;
}
#u43_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u43_end {
  position:absolute;
  left:-5px;
  top:38px;
  width:20px;
  height:18px;
}
#u43_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:55px;
}
#u44 {
  position:absolute;
  left:599px;
  top:614px;
  width:24px;
  height:24px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u45 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:597px;
  top:643px;
  width:29px;
  height:17px;
  font-size:14px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:17px;
}
#u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u48 {
  position:absolute;
  left:287px;
  top:688px;
  width:357px;
  height:84px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:357px;
  height:84px;
}
#u49 {
  position:absolute;
  left:2px;
  top:34px;
  width:353px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:297px;
  top:690px;
  width:80px;
  height:80px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u51 {
  position:absolute;
  left:2px;
  top:32px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:391px;
  top:702px;
  width:61px;
  height:24px;
  font-family:'AppleGothic', 'AppleGothic';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:24px;
}
#u53 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u54 {
  position:absolute;
  left:391px;
  top:735px;
  width:73px;
  height:15px;
  font-family:'AppleGothic', 'AppleGothic';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:15px;
}
#u55 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u56 {
  position:absolute;
  left:573px;
  top:700px;
  width:10px;
  height:55px;
}
#u56_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u56_end {
  position:absolute;
  left:-5px;
  top:38px;
  width:20px;
  height:18px;
}
#u56_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:55px;
}
#u57 {
  position:absolute;
  left:599px;
  top:706px;
  width:24px;
  height:24px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u58 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:597px;
  top:735px;
  width:29px;
  height:17px;
  font-size:14px;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:17px;
}
#u60 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
